<% provide(:title, 'Contact Us') %>
    <h1>Contact Us</h1>
	    <p>
	      If you want to contact us, please visit Van Nguyen's <a href="https://www.facebook.com/van.m.nguyen.10?fref=ts">website.</a>
		</p> 